/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #cbd1d1;
    text-align: center;
}

/* Encabezado y Banner */
.banner {
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    font-size: 30px;
    background-image: url('../images/banner.jpg');
    background-size: cover;
    background-position: center;
    white-space: nowrap;
}

/* Formulario de Búsqueda */
.search-form {
    text-align: right;
    margin-top: 10px;
}

.search-form input {
    padding: 8px;
    width: 200px;
    max-width: 100%;
}

.search-form button {
    padding: 8px;
    background-color: #fff;
    border: none;
    color: #0a810e;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #ddd;
}

/* Introcucion de Katana Kid */

.introduccion {
    padding: 30px;
    text-align: center;
}

.introduccion h1 {
    color: #4e80c2;
    font-size: 36px;
    margin-bottom: 20px;
}

.introduccion p {
    max-width: 800px;
    margin: 10px auto;
    font-size: 18px;
    line-height: 1.6;

}

.introduccion h2 {
    color: #4e80c2;
    margin-top: 30px;
    font-size: 24px;
}

/* Introcucion de Podcast */


.introduccion1 {
    padding: 30px;
    text-align: center;
}

.introduccion1 h1 {
    color: #4e80c2;
    font-size: 36px;
    margin-bottom: 20px;
}

.introduccion1 p {
    max-width: 800px;
    margin: 10px auto;
    font-size: 18px;
    line-height: 1.6;

}

.introduccion1 h2 {
    color: #4e80c2;
    margin-top: 30px;
    font-size: 24px;
}



.introduccion2 {
    padding: 30px;
    text-align: center;
}

.introduccion2 p {
    max-width: 800px;
    margin: 10px auto;
    font-size: 18px;
    line-height: 1.6;

}

.introduccion2 h2 {
    color: #4e80c2;

}















/* Barra de Navegación */
.navbar {
    padding: 10px;
    background-color: #333;
    text-align: center;
}

.navbar a {
    display: inline-block;
    padding: 14px 20px;
    color: white;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #575757;
}

/* Contenedor Principal */
.container {
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
    text-align: left;
}

/* Productos - Adaptables */
.productos {
    text-align: center;
}

.producto {
    border: 1px solid #131212;
    padding: 10px;
    width: 180px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    height: 220px;
    box-sizing: border-box;
    margin: 12px;
}

.producto img {
    width: 100%;
    height: 120px;
    object-fit: cover;
}

/* Detalle del Producto */
.producto-detalle {
    max-width: 600px;
    margin: 20px auto;
    text-align: left;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
}

.producto-detalle img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

a {
    text-decoration: none;
    color: inherit;
}

.nombre_producto {
    display: block;
    background-color: #51b854;
    color: white;
    padding: 15px 0;
    font-size: 18px;
    border-radius: 0 0 5px 5px;
    margin-top: 10px;
    transition: background-color 0.3s ease;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
}

.nombre_producto:hover {
    background-color: #2b772f;
}

   /* El GIF de la pagina principal*/
.persona_katana {
    max-width: 100%; /* El GIF nunca será más ancho que su contenedor */
    height: auto; /* Ajusta la altura proporcionalmente */
    display: block; /* Quita cualquier espacio adicional alrededor del GIF */
    margin: 0 auto; /* Centra el GIF si es necesario */
  }


   /* Boton*/
.botones {
    margin: 30px 0;
    text-align: center;
}

.btn {
    display: inline-block;
    background-color: #4CAF50; /* Verde */
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:hover {
    background-color: #2b772f; /* Verde más oscuro al pasar el ratón */
    transform: scale(1.05); /* Pequeño efecto de agrandado */
}



/* Pie de Página */
footer {
    background-color: #424040;
    color: white;
    padding: 10px;
    text-align: center;
}

footer a img {
    vertical-align: middle;
}

.rss-subscribe {
    margin-top: 20px;
    margin-bottom: 10px;
}

.rss-subscribe a {
    display: inline-block;
    background-color: #f8b400;
    color: #fff;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
}

/* Estilos Responsivos */

/* Móviles*/
@media (max-width: 600px) {
    .banner {
        font-size: 20px;
        padding: 10px;
    }

    .navbar a {
        display: block;
        padding: 10px;
    }

    .search-form {
        text-align: center;
    }

    .search-form input {
        width: 80%;
    }

    .producto {
        width: 90%;
        height: auto;
    }

    .gif-container {
        padding: 5px;
      }
  
      .responsive-gif {
        max-width: 90%; /* Asegura que no ocupe todo el ancho, dejando espacio */
        height: auto; /* Mantiene las proporciones del GIF */
      }
}

/* Tablets*/
@media (max-width: 1024px) {
    .producto {
        width: 45%;
    }
}

/* Pantallas Grandes */
@media (min-width: 1025px) {
    .producto {
        width: 200px;
    }
}
